.App {
  text-align: center;
}

#root {
  background: #000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.bio {
  color: #eee;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 24px;
  font-family: "Rage Italic", 'Brush Script MT', cursive;
  letter-spacing: 1.25px;
}

.logo {
  height: 30rem;
}

.footer {
  background: #000000;
  color: #FFFFFF;
  font-size: 20px;
  font-family: "Rage Italic", 'Brush Script MT', cursive;
}

.nav {
  text-align: center;
  padding: 1rem;
}

.nav-elem {
  text-decoration: none;
  padding: 2rem;
  color: #eee;
  font-size: 28px;
  font-family: "Rage Italic", 'Brush Script MT', cursive;
  letter-spacing: 1.25px;
}

.counter-text {
  text-decoration: none;
  color: black;
}

.music-page {
  font-family: "Rage Italic", 'Brush Script MT', cursive;
  letter-spacing: 1.25px;
  font-size: 20px;
  color: #eee;
}

.photos {
  width: 200px;
  padding: 1rem;
}
