.App {
  text-align: center;
}

#root {
  background: #000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.footer {
  background: #000000;
  color: #FFFFFF;
  font-size: 20px;
  font-family: "Rage Italic";
}

.nav {
  text-align: center;
  padding: 1rem;
}

.nav-elem {
  text-decoration: none;
  padding: 2rem;
  color: #eee;
  font-size: 28px;
  font-family: "Rage Italic";
}

.counter-text {
  text-decoration: none;
  color: black;
}

.music-page {
  font-family: "Rage Italic";
  font-size: 20px;
  color: #eee;
}

.photos {
  width: 200px;
  padding: 1rem;
}
